/* @import url(https://fonts.googleapis.com/css2); */
.box-1{
    width: 16cm;
    padding: 1px;
    border: 1px solid #ccc2c2;
    background-color: pink;
    text-align:left

}

.box-2{
    width: 16cm;
    padding: 1px;
    border: 1px solid #ccc2c2;
    background-color: hsl(9, 100%, 48%);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}